<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xdu.backend.Dao.UserDao">

    <resultMap id="UserMap" type="xdu.backend.pojo.User">
        <result column="user_id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>


    <resultMap id="AdminMap" type="xdu.backend.pojo.Admin">
        <result column="admin_id" jdbcType="INTEGER" property="adminId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
    </resultMap>

  
    <insert id="registerUser" parameterType="xdu.backend.pojo.User">
        insert into user (user_id,user_name,password)
        values (#{id},#{userName},#{password})
    </insert>

    <select id="getUserById" resultMap="UserMap">
        select * from user where user_id = #{id}
    </select>

    <update id="changeNameById">
        update user set user_name = #{newName} where user_id = #{id}
    </update>

    <select id="getAdminById" resultMap="AdminMap">
        select * from admin where admin_id = #{id}
    </select>

    <select id="getUserEnable" parameterType="String" resultType="boolean">
        select enable from user where user_id = #{id}
    </select>

    <update id="updatePasswordById">
        update user set password = #{password} where user_id = #{id}
    </update>

    <update id="updateUserEnable">
        update user set enable = #{enable} where user_id = #{id}
    </update>


</mapper>